.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 5px;
}

.user-menu .user-item {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: background-color 0.3s;
    text-align: left;
}

.user-menu .user-item:hover {
    background-color: #f1f1f1;
    color: #000;
}

.user-menu .logout {
    border-top: 1px solid #eee;
    color: #d9534f;
}

.user-menu .logout:hover {
    background-color: #fff5f5;
}